body {
    font-family: 'Bai Jamjuree';

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #a3d6ce;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9%;
    margin-bottom: 3%;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.topside-texts {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topside-texts div {
    margin-bottom: 25px;
}

.catchword {
    font-size: 50px;
    font-weight: 600;
}

.catchword-explain {
    text-align: center;
    width: 70%;
    font-size: 20px;
    color: #d9dddf;
    line-height: 1.5;
}



.Button {
    box-shadow: 0px 2px 10px 0px #8dd3c5;
    background-color: #26bba5;
    border-radius: 28px;
    border: 1px solid #23a993;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 18px 49px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin-right: 10px;
}

.Button:hover {
    background-color: #5dccbb;
}

.Button:active {
    position: relative;
    top: 1px;
}


.Button2 {
    box-shadow: 0px 2px 10px 0px #adb3e6;
    background-color: #6173fd;
    border-radius: 28px;
    border: 1px solid #586be6;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 18px 50px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.Button2:hover {
    background-color: #8896ff;
}

.Button2:active {
    position: relative;
    top: 1px;
}

.keeptrack {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keeptrack-text {
    font-size: 40px;
    font-weight: 600;
}

.keeptrack-explain {
    margin-top: 20px;
    text-align: center;
    width: 50%;
    font-size: 20px;
    color: #d9dddf;
    line-height: 1.5;
}

/* header bitti*/

.area1 {
    display: flex;
    flex-direction: row;
    line-height: 2;
}

.left {
    margin-left: -20px;
}

.right {
    padding: 100px;
}

.right .right-text {
    margin-bottom: 20px;
    width: 350px;
    color: #d9dddf;
}

.right-bold {
    font-size: 24px;
    font-weight: 600;
}

.area2 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area2-image {
    margin-top: 100px;
}

.under-images {
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: space-around;
}

.under-part {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 2;
}


.under-text {
    margin-top: 15px;
    color: #d9dddf;
}

.under-bold {
    margin-top: 25px;
    font-weight: 600;
    font-size: 24px;
}

.under-icon {
    font-size: 15px;
}

.brands {
    margin-top: 100px;
    padding: 5%;
    display: flex;
    justify-content: space-around;
}

.under-brands {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.under-brands .topside-buttons {
    margin-top: 50px;
    margin-bottom: 100px;
}

/* areas done*/

footer {
    background-color: #f5f6f8;
    display: flex;
    justify-content: center;
    padding: 5%;
}

.footer-logo {
    margin-left: 75px;
    flex: 3;
}

.footer-logo img {
    width: 40px;
}

.links {
    flex: 6;
    display: flex;
    flex-wrap: wrap;

}

.links div {
    display: inline-block;
    width: 150px;
    margin: 20px;
}

.social {
    flex: 3;
}

.social img {
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {

    .topside-texts {
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topside-texts div {
        margin-bottom: 25px;
    }

    .catchword {
        width: 75%;
        font-size: 37px;
        text-align: center;
    }

    .catchword-explain {
        width: 65%;
        font-size: 19px;
    }

    .topside-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Button {
        margin-bottom: 20px;
    }

    .keeptrack {
        align-items: center;
        text-align: center;
        width: 80%;
    }

    .keeptrack-text {
        font-size: 40px;
    }

    .keeptrack-explain {
        width: 100%;
        font-size: 20px;
    }

    /* header bitti*/

    .area1 {
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        line-height: 2;
    }

    .left {
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }

    .left img {
        width: 80%;
    }

    .right {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }
    
    .right-text{
        width: 100%;
    }

    .right-bold {
        text-align: center;
    }

    .area2 {
        display: flex;
        justify-content: center;
    }

    .area2 .keeptrack-text {
        width: 80%;
        text-align: center;
    }

    .area2 .keeptrack-explain {
        width: 80%;
    }

    .area2-image {
        display: flex;
        justify-content: center;
    }

    .area2-image img {
        width: 80%;
    }

    .under-images {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 50px;
    }

    .under-part {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }


    .under-text {
        width: 70%;
    }

    .brands {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .brands div {
        margin-bottom: 50px;
    }

    .under-brands {
        margin-top: 25px;
        align-content: center;
        text-align: center;
    }

    .under-brands .keeptrack-explain {
        width: 80%;
    }

    .under-brands .keeptrack-text {
        width: 80%;
    }


    /* areas done*/

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        margin-left: 0px;
        flex: 1;
    }

    .footer-logo img {
        width: 40px;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
    }

    .links * {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    .social {
        flex: 1;
    }

    .social img {
        margin-right: 30px;
    }

}